// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.activities-heading{display:none;}
h4{color:#999;position:relative;top:27px;padding-left:10px;}
#feed{
  border-top:2px solid #999;border-bottom:2px solid #999;margin-top:30px;
  .feed-item{
    padding:8px 10px;
    .body{
      float:left;
      a{color:#666;text-decoration:none;border-bottom:1px dashed #ccc;}
      a:hover{color:#363636;text-decoration:none;border-bottom:1px dashed;}
      .details{
        display:block;font-size:11px;
        a{color:#008;border:none;}
      }
    }
    .delete{
      float: right;background-color: #CCC;border-radius: 5px 0 5px 5px;height: 25px;width: 25px;line-height: 20px;position: relative;top: -8px;left: 10px;
      a{text-decoration: none;font-family: arial;color: white;position: relative;left:-3px;top: 1px;font-size: 20px;padding:10px}
    }
    .delete:hover{
      background-color: #d33;
    }
  }
  .feed-item:hover{background-color:#ffe;}
  .feed-item:nth-of-type(even):hover{background-color:#ffe;}
}
#feed{
  .feed-item:nth-of-type(even){background-color:#f9f9f9;}
}
.clear{clear:both;}