// Place all the styles related to the Updates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type="text"]{color:#666;display:inline-block;border:none;border-bottom:1px solid #e3e3e3;font-size:18px;line-height:24px;width:auto;outline:none;padding:0 5px;background-color:#f9f9f9;}
input[type="text"]:focus{background-color:#ff9;outline:none;color:#333;}
#name{width:50px;}
#action{width:120px;}
#link{width:150px;}
#date{width:120px;}
#private{font-size:14px;margin:20px 0 20px 30px;}
#submit{padding:20px 15px;background-color:#ffe; border:1px solid #ccc;border-radius:3px;font-size:18px;width:100%;}
#submit:hover{background-color:#ff8;border:1px solid #666;}
